<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EMS | Success</title>

        <!--Google Fonts API-->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Alegreya|B612|Sail"/>

        <!--Font Awesome-->
        <link rle="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>

        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!--jQuery library-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!--Popper JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!--Latest compiled JavaScript-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!--Custom stylesheet-->
        <link rel="stylesheet" type="text/css" href="/styles/index.css"/>

        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    </head>

    <body>
        <div class="jumbotron" style="margin-top:30vh">
            <h1>Notifications sent/scheduled successfully!</h1>
            <br/>
            <button class="btn btn-info" onClick="history.go(-1)">Back&nbsp;&nbsp;</button>
        </div>
    </body>
</html>